
      <h1>introduction</h1>
      <!-- **** INSERT PAGE CONTENT HERE **** -->
      <p> This website template is released as an 'open source' Design (under the <a href="http://creativecommons.org/licenses/by/2.5"> Creative Commons
        Attribution 2.5</a> licence), which means that you are free to download and
        use it for anything you want (including modifying and amending it).
        All I ask is that you leave the 'Design by dcarter' link in the footer of the
        template, but other than that... </p>
      <p> This standards compliant template is written entirely in XHTML 1.1 and CSS,
        and can be validated using the links in the footer. </p>
      <p> You can view my other 'open source' template Designs <a href="http://all-free-download.com/free-website-templates/">here</a>. </p>
      <h1>example elements</h1>
      <h2>Bold Text</h2>
      <p><strong>this is an example of bold text</strong></p>
      <h2>Italics</h2>
      <p><i>this is an example of italic text</i></p>
      <h2>Links</h2>
      <p><a href="http://all-free-download.com/free-website-templates/">this is an example link</a></p>
      <h2>Block Quotes</h2>
      <blockquote>
        <p> Some blockquote text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. </p>
      </blockquote>
      <h2>Unordered Lists</h2>
      <ul>
        <li>list item 1</li>
        <li>list item 2</li>
      </ul>
      <br />
      <h2>Ordered Lists</h2>
      <ol>
        <li>list item 1</li>
        <li>list item 2</li>
      </ol>
      <br />
      <h2>Images</h2>
      <p>images can be placed on the left, in the center or on the right.</p>
      <span class="left"><img src="images/graphic.jpg" alt="" /></span>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. </p>
      <span class="center"><img src="images/graphic.jpg" alt="" /></span> <span class="right"><img src="images/graphic.jpg" alt="" /></span>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. </p>
