
      <div class="sidebaritem">
        <h1>latest news</h1>
        <!-- **** INSERT NEWS ITEMS HERE **** -->
        <h2>10.10.2021</h2>
        <p>ADD JS TO DISPLAY NEWS</p>
        <p> <a href="/">read more ...</a></p>
        <p></p>
      </div>
      <div class="sidebaritem">
        <h1>additional links</h1>
        <div class="sbilinks">
          <!-- **** INSERT ADDITIONAL LINKS HERE **** -->
          <ul>
            <li><a href="/">LINKS AS WELL AS NEWS</a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
          </ul>
        </div>
      </div>
      <div class="sidebaritem">
        <h1>other information</h1>
        <!-- **** INSERT OTHER INFORMATION HERE **** -->
        <p>DISCLOSER ABOUT UPCGE AND THIS PAGE
        </p>
      </div>
    </div>
